@model IEnumerable<WebApplication2.Entities.Doctor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkingHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Policlinic)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Policlinic.PolAd)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DoctorID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DoctorID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DoctorID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
